<div *ngIf="extendedTile"
     [ngClass]="'tile'"
     [style.z-index]="isTilePlacementConfirmed ? 10 : 0"
     [ngStyle]="translate ? { top: translate.top + 'px', left: translate.left + 'px' } : null">

  <img
    [src]="getImageSource(extendedTile.tile.tileName)"
    [alt]="extendedTile.tile.tileName"
    [style.transform]="makeRotateTransformString(rotation)">

  <img *ngIf="extendedTile.tile.extraPoints"
       class="emblem"
       [src]="getImageSource('emblem')"
       [alt]="'emblem'">

  <mat-icon class="rotate_icon" *ngIf="isCurrentTile">rotate_right</mat-icon>

  <ng-container *ngIf="isTilePlacementConfirmed; else alreadyPlacedPawns">
    <mat-icon *ngFor="let pawn of possiblePawnPlacements()" 
              [style.fill]="!pawn.selected ? '#5c5c5c' : loggedPlayerColor"
              [ngStyle]="{ top: pawn.transformValue.top + 'px', left: pawn.transformValue.left + 'px' }"
              class="possible-pawn-placement"
              svgIcon="follower"
              aria-hidden="false" 
              (click)="placePawn(pawn)">
    </mat-icon>
  </ng-container>

  <ng-template #alreadyPlacedPawns>
    <mat-icon *ngIf="pawn() as pawn" 
              class="placed-pawn"
              [style.fill]="extendedTile.fallowerDetails?.playerColor"
              [ngStyle]="{ top: pawn.transformValue.top + 'px', left: pawn.transformValue.left + 'px' }"
              svgIcon="follower"
              aria-hidden="false">
      </mat-icon>
  </ng-template>

</div>




