<div *ngIf="extendedTile"
     [ngClass]="'tile'"
     [ngStyle]="isTilePlacementConfirmed ? {'transform': translate, 'z-index': 10} : {'transform': translate}">

  <img
    [src]="getImageSource(extendedTile.tile.tileName)"
    [alt]="extendedTile.tile.tileName"
    [style.transform]="makeRotateTransformString(rotation)">

  <img *ngIf="extendedTile.tile.extraPoints"
       class="emblem"
       [src]="getImageSource('emblem')"
       [alt]="'emblem'">

  <mat-icon class="rotate_icon" *ngIf="isCurrentTile">rotate_right</mat-icon>

  <ng-container *ngIf="isTilePlacementConfirmed; else alreadyPlacedPawns">
    <button mat-icon-button 
            *ngFor="let pawn of possiblePawnPlacements()" 
            [style.transform]="pawn.transformValue" 
            (click)="placePawn(pawn)">
      <mat-icon [style.fill]="!pawn.selected ? '#5c5c5c' : loggedPlayerColor"
                svgIcon="follower"
                aria-hidden="false">
      </mat-icon>
    </button>
  </ng-container>

  <ng-template #alreadyPlacedPawns>
    <mat-icon *ngIf="this.extendedTile.fallowerDetails as fallowerDetails" 
              class="placed-pawn"
              [style.fill]="fallowerDetails.playerColor"
              [style.transform]="pawn()?.transformValue"
              svgIcon="follower"
              aria-hidden="false">
      </mat-icon>
  </ng-template>

</div>




