body, html, app-root
    margin: 0
    padding: 0
    height: 100%
    width: 100%
    box-sizing: border-box
    display: block

    .tile
      position: absolute
      padding: 6px

      img
        display: block

    .draggable
      z-index: 2

    snack-bar-container
      background-color: red !important
      color: white !important
