$shadowWidth: 15px
@mixin pulsating-border($duration: 2s, $color1: transparent)
  box-shadow: 0 0 10px 6px $color1 // Initial border color
  animation: pulseBorder#{$color1} $duration infinite

  @keyframes pulseBorder#{$color1}
    0%
      box-shadow: 0 0 10px 6px $color1
    50%
      box-shadow: 0 0 10px 6px transparent
    100%
      box-shadow: 0 0 10px 6px $color1

$colors: red, blue, green, yellow

body, html, app-root
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  box-sizing: border-box
  display: block

  .tile
    position: absolute
    padding: 6px

    img
      display: block

  .draggable
    z-index: 2

  .error-snackbar.mat-mdc-snack-bar-container
    .mdc-snackbar__surface
      background: red

      .mat-mdc-button
        color: white !important



    .mat-mdc-snack-bar-label.mdc-snackbar__label
      color: white
      font-weight: 500
      white-space: pre-wrap



  .form-wrapper
    padding: 2rem
    margin: 10rem auto 0
    max-width: 500px
    border-radius: 30px
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4)

    .example-full-width
      color: blue

    .title-area
      display: flex
      flex-direction: row
      align-items: center

    form
      display: flex
      flex-direction: column

      .sign-area
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        font-size: 1.1em

        button
          min-width: fit-content

        div
          text-align: right

        a
          margin-left: 0.3em
          font-weight: 600
          letter-spacing: 1px
          display: inline-block

  app-tile
    @each $color in $colors
      &.pulsating-color-#{$color}
        .tile
          img:not(.emblem)
            +pulsating-border(2s, $color)

    &.selected-board-move
      .tile
        img:not(.emblem)
          box-shadow: 0 0 10px 6px orangered

    &:not(.pulsating-color-red, .pulsating-color-yellow, .pulsating-color-green, .pulsating-color-blue)
      .tile
        img:not(.emblem)
          transition: box-shadow 0.3s ease-in-out


*
  font-family: Roboto
