<div *ngIf="tiles" class="tiles" id="tiles-area">

    <app-tile *ngFor="let tile of tiles()"
              [extendedTile]="tile"
              [rotation]="tile.rotation"
              [translate]="tile.translateValue">
    </app-tile>
  
    <app-tile *ngIf="currentTile() as currentTile"
              [extendedTile]="currentTile"  
              [translate]="currentTile.translateValue"
              [rotation]="currentTile.rotation"
              [isCurrentTile]="true"
              [isTilePlacementConfirmed]="tilePlacementConfirmed()">
    </app-tile>
  
    <app-empty-tiles *ngFor="let emptyTile of emptyTiles(); trackBy: trackByIndex"
                     [translate]="emptyTile.position"
                     [style.--border-color]="clickedEmptyTileColor()?.emptyTileId === emptyTile.id ? clickedEmptyTileColor()?.borderColor : 'gray'"
                     (click)="emptyTileSelected(emptyTile)">
    </app-empty-tiles>
  
  
  </div>
  
  <div class="button-area">
    <button *ngIf="tilePlacementConfirmed()" 
            mat-icon-button 
            (click)="cancelChoice()">
      <mat-icon>close</mat-icon>
    </button>
    <app-tile-and-pawn-confirmation-button  [isTilePlacedCorrectly]="isTilePlacedCorrectly()" 
                                            [tilePlacementConfirmed]="tilePlacementConfirmed()" 
                                            (confirmation)="confirmChoice($event)">
    </app-tile-and-pawn-confirmation-button>
  </div>