<div class="login-wrapper">
    <div class="title-area">
        <h2>Sign in</h2>
    </div>
    <div class="form-area">
        <form [formGroup]='LoginForm' (ngSubmit)='login()'>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input
                    type='text'
                    formControlName='username'
                    matInput
                >
                <mat-error *ngIf='usernameFormControl.hasError("usernameHasError")'>
                    No user with provided username exists
                </mat-error>
                <mat-error *ngIf='usernameFormControl.hasError("required")'>
                    Username is <b>required</b>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    formControlName='password'
                    matInput
                >
                <mat-error *ngIf='passwordFormControl.hasError("passwordHasError")'>
                  Wrong password!
                </mat-error>
                <mat-error *ngIf='passwordFormControl.hasError("required")'>
                  Password is <b>required</b>
                </mat-error>
            </mat-form-field>
            <div class="sign-area">
                <button mat-raised-button color='accent'>Sign in</button>
                <div class="sign-in">
                    Don't have account yet?<a href='/register'>SIGN UP</a>
                </div>
            </div>
        </form>
    </div>
</div>
