<div class="form-wrapper">
    <div class="title-area">
        <h2>Sign in</h2>
        <mat-radio-group class="login-radio"
                         aria-label="Login"
                         [ngModel]="selectedOption"
                         (ngModelChange)="changeLoginOption($event)">
            <mat-radio-button *ngFor="let option of loginOptions; index as i" [value]="option.value">
                {{ option.text }}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="form-area">
        <form [formGroup]='registeredUser() ? loginForm : guestLoginForm' (ngSubmit)='login()'>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input
                    type='text'
                    formControlName='username'
                    matInput
                >
                <mat-error *ngIf='usernameFormControl.hasError("usernameHasError")'>
                    No user with provided username exists
                </mat-error>
                <mat-error *ngIf='usernameFormControl.hasError("required")'>
                    Username is <b>required</b>
                </mat-error>
                <mat-error *ngIf='usernameFormControl.hasError("maxlength")'>
                  Username can't be longer than 15 characters
                </mat-error>
            </mat-form-field>
            @if (registeredUser()) {
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input
                        type="password"
                        formControlName='password'
                        matInput
                    >
                    <mat-error *ngIf='passwordFormControl.hasError("passwordHasError")'>
                      Wrong password!
                    </mat-error>
                    <mat-error *ngIf='passwordFormControl.hasError("required")'>
                      Password is <b>required</b>
                    </mat-error>
                </mat-form-field>
            }
            <div class="sign-area">
                <button mat-raised-button
                        color='accent'
                        [disabled]="registeredUser() ? !loginForm.valid : !guestLoginForm.valid">
                  Sign in
                </button>
                <div>
                    Don't have account yet?<a routerLink='/register'>SIGN UP</a>
                </div>
            </div>
        </form>
    </div>
</div>
