\:host
  $mobile-font-size: 18px
  $desktop-font-size: 24px
  @media screen and (max-width: 767px)
    width: 100%

  display: flex
  align-items: center

  .disconnected-icon
    padding-left: 0.5em

  .player-section
    display: flex
    @media screen and (min-width: 767px)
      flex-direction: column
    @media screen and (max-width: 767px)
      width: 100%
      justify-content: space-between

    .username-area
      display: flex
      flex-direction: row
      align-items: center
      padding: 0 1em

      span
        @media screen and (max-width: 767px)
          font-size: $mobile-font-size
        @media screen and (min-width: 767px)
          font-size: $desktop-font-size
        text-wrap: nowrap

    .followers-area
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      padding: 0 1em

      span
        @media screen and (max-width: 767px)
          font-size: $mobile-font-size
        @media screen and (min-width: 767px)
          font-size: $desktop-font-size

      mat-icon
        @media screen and (max-width: 767px)
          width: $mobile-font-size
          height: $mobile-font-size
        @media screen and (min-width: 767px)
          width: $desktop-font-size
          height: $desktop-font-size
