<mat-toolbar id="toolbar">
    <span class="logo" routerLink="/">Carcasonne</span>
    <span class="spacer"></span>
    <button
        mat-icon-button
        (click)='changeTheme("dark-theme")'
        *ngIf="(themeService.getTheme() | async) == 'light-theme'; else darkTemplate"
    ><mat-icon svgIcon='moon' aria-hidden="false"></mat-icon>
    </button>

    <ng-template #darkTemplate>
        <button mat-icon-button (click)='changeTheme("light-theme")'>
            <mat-icon svgIcon='sun' aria-hidden="false"></mat-icon>
        </button>
    </ng-template>

    <button mat-icon-button>
        <mat-icon svgIcon='github' aria-hidden="false"></mat-icon>
    </button>
</mat-toolbar>
