<mat-toolbar id="toolbar">
    <a mat-button routerLink="/">Realm architect</a>
    <span class="spacer"></span>
    <button
        mat-icon-button
        (click)='changeTheme("dark-theme")'
        *ngIf="themeService.currentTheme() === 'light-theme'; else darkTemplate"
    ><mat-icon svgIcon='moon' aria-hidden="false"></mat-icon>
    </button>

    <ng-template #darkTemplate>
        <button mat-icon-button (click)='changeTheme("light-theme")'>
            <mat-icon svgIcon='sun' aria-hidden="false"></mat-icon>
        </button>
    </ng-template>

    <a mat-icon-button href="https://github.com/Cmiszkur/carcasonne-mr" target="_blank">
        <mat-icon svgIcon='github' aria-hidden="false"></mat-icon>
    </a>

    @if (user | async; as user) {
        <button mat-button [matMenuTriggerFor]="menu">{{user.username}}</button>
        <mat-menu #menu="matMenu">
            <!-- <a mat-menu-item routerLink="/">Leaderbords</a> -->
            <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
    } @else {
        <a mat-button routerLink="/login">Log in</a>
    }
</mat-toolbar>
