<div *ngIf="extendedTile"
     [ngClass]="'tile'"
     [id]="extendedTile.tile._id"
     [ngStyle]="isTilePlacementConfirmed ? {'transform': translate, 'z-index': 10} : {'transform': translate}">

  <img
    [src]="getImageSource(extendedTile.tile.tileName)"
    [alt]="extendedTile.tile.tileName"
    [style.transform]="makeRotateTransformString(rotation)">

  <mat-icon class="rotate_icon" *ngIf="isCurrentTile">rotate_right</mat-icon>

  <ng-container *ngIf="isTilePlacementConfirmed">
    <button mat-icon-button 
            *ngFor="let pawn of pawns" 
            [style.transform]="pawn.transformValue" 
            (click)="placePawn(pawn)">
      <mat-icon [style.fill]="!pawn.selected ? '#5c5c5c' : loggedPlayerColor"
                svgIcon="follower"
                aria-hidden="false">
      </mat-icon>
    </button>
  </ng-container>

</div>




