:host
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    font-size: 1.3em
    padding: 0.5em
    
    .error-messages
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 1.5em
        

        .error-abstract
            display: flex
            flex-direction: row
            align-items: center
            margin-bottom: 0.5em

            mat-icon
                margin-right: 0.3em