:host
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    font-size: 1.3em
    padding: 0.5em
    
    .error-messages
        display: flex
        flex-direction: column
        align-items: center
        

        .error-abstract
            display: flex
            flex-direction: row
            align-items: center

            mat-icon
                margin-right: 0.3em